<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%= @comment.doctor_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @comment.date %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
