<h1>Listing vitals</h1>

<table>
  <thead>
    <tr>
      <th>Heart rate</th>
      <th>Date</th>
      <th>Blood pressure</th>
      <th>Respiratory rate</th>
      <th>Temperature</th>
      <th>Red blood cell</th>
      <th>White blood cell</th>
      <th>Chemo date</th>
      <th>Chemo type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vitals.each do |vital| %>
      <tr>
        <td><%= vital.heart_rate %></td>
        <td><%= vital.date %></td>
        <td><%= vital.blood_pressure %></td>
        <td><%= vital.respiratory_rate %></td>
        <td><%= vital.temperature %></td>
        <td><%= vital.red_blood_cell %></td>
        <td><%= vital.white_blood_cell %></td>
        <td><%= vital.chemo_date %></td>
        <td><%= vital.chemo_type %></td>
        <td><%= link_to 'Show', vital %></td>
        <td><%= link_to 'Edit', edit_vital_path(vital) %></td>
        <td><%= link_to 'Destroy', vital, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vital', new_vital_path %>
