<h1>Listing current_vitals</h1>

<table>
  <thead>
    <tr>
      <th>Current interventions</th>
      <th>Status</th>
      <th>Dosage dates</th>
      <th>Surgeries</th>
      <th>Eligibility clinical</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_vitals.each do |current_vital| %>
      <tr>
        <td><%= current_vital.current_interventions %></td>
        <td><%= current_vital.status %></td>
        <td><%= current_vital.dosage_dates %></td>
        <td><%= current_vital.surgeries %></td>
        <td><%= current_vital.eligibility_clinical %></td>
        <td><%= link_to 'Show', current_vital %></td>
        <td><%= link_to 'Edit', edit_current_vital_path(current_vital) %></td>
        <td><%= link_to 'Destroy', current_vital, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Current vital', new_current_vital_path %>
